---
layout: default
title: Home
---

<nav class="navbar">
  <div class="nav-container">
    <a href="{{ '/' | relative_url }}" class="nav-logo">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Site Logo" height="100px" width="100px">
    </a>
    <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
      <span class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>
    <ul id="nav-links">
      {% for section in site.sections %}
      {% unless section.hide_nav or section.hidden %}
          <li>
            <a href="#{{ section.title | downcase | replace: ' ', '-' }}">
              {{ section.title }}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</nav>

<div class="container">
  {% for section in site.sections %}
    {% unless section.hidden %}
      <section id="{{ section.title | downcase | replace: ' ', '-' }}">
        <!-- Check if section uses cards layout -->
        {% if section.layout == "cards" %}
          <h2 class="text mb-4">{{ section.title }}</h2>
          {% capture cards_content %}{{ section.content | markdownify }}{% endcapture %}
          {% include cards-section.html content=cards_content %}
        {% else %}
          {{ section.content | markdownify }}
        {% endif %}
      </section>
    {% endunless %}
  {% endfor %}
</div>


<script>
function toggleNav() {
  var nav = document.getElementById("nav-links");
  nav.classList.toggle("show");
  nav.classList.toggle('open');
}
</script>
